body {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  font-size: larger;
}

p {
  text-align: center;
}